.trending-games-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.game-card {
  background: transparent;
  width: 18%;
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}

.game-card img {
  width: 75%;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.game-card h4 {
  margin: 10px 0 5px;
  font-size: 1.2em;
  color: #ffffff;
}

.game-card p {
  margin: 0;
  font-size: 1em;
  color: #0f0;
  font-weight: bold;
}

.game-card:hover {
  transform: scale(1.08);
}
