body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("../background.jpg");
  background-size: cover;
}

h1 {
  color: rgb(255, 249, 249);
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
}
label {
  color: #fff;
  font-size: 18px;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  text-align: center;
  font-size: 25;
  background: none;
  color: #fff;
  width: 80%;
  margin: 0 auto 20px auto;
  padding: 10px;
  border: 2px solid #01e8f4;
  border-radius: 26px;
  box-sizing: border-box;
}

#form {
  background-color: #191919;
  width: 25%;
  margin: 120px auto;
  padding: 50px;
  border-radius: 70px;
  text-align: center;
  border: 3px solid #15ff00;
}

#login_btn,
#register_btn {
  border: none;
  background: none;
  display: block;
  color: white;
  margin: 20px auto;
  font-size: 100%;
  text-align: center;
  border: 3px solid #04fb6b;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#login_btn:hover,
#register_btn:hover {
  background-color: #04fb6b;
}

#register-link,
#login-link {
  display: block;
  color: #01e8f4;
  margin-top: 20px;
  text-decoration: none;
}

#home-link {
  display: block;
  color: #f4014e;
  margin-top: 5px;
  text-decoration: none;
  padding: 5px 5px;
  border-radius: 24px;
  margin: 2px auto;
}

@media screen and (max-width: 700px) {
  #form {
    width: 65%;
    padding: 40px;
  }
}
